@import "tailwindcss";

@theme inline {
  --color-bg-light: #f7f7f5;
  --color-text-dark: #1a1816;
  --color-text-medium: #4a4745;
  --color-accent-green: #00e5b8;
  --color-accent-pink: #ffab99;
  --color-accent-peach: #ffb8a8;
  --color-white: #ffffff;

  --font-chinese: var(--font-long-cang);
}
